# 프로젝트 제외 경로
/.gradle/
/.idea/
/aws_infra/tf/provider.tf
/aws_infra/tf/.terraform.lock.hcl
/aws_infra/tf/.terraform/providers/registry.terraform.io/
/usr/
/aws_infra/local_setup/
/jinheung_eureka/build/

/aws_infra/tf/paramenter_store.tf
/aws_infra/tf/terraform.tfstate
